.container {
  flex: 1; 
  height: calc(100vh - 120px); 
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #f1f3f4;
  overflow: auto;
}

.board {
  min-width: 960px;
  width: 960px; 
  height: 540px;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}